.table {
    font-size: 13px;
    margin-bottom: 0;
    &.fixed {
        table-layout: fixed;
    }
    thead {
        tr {
            color: #0000008a;
        }
        th {
            border-width: 1px;
        }
    }
    th,
    td {
        padding: 5px;
    }
    th {
        background: #f8f9fa;
        color: #1a1a1a;
    }
    tbody {
        tr {
            &:hover td {
                background-color: rgba(0, 0, 0, 0.08);
            }
            td {
                &.pointer {
                    cursor: pointer;
                    &:hover {
                        background: #f5f5f5;
                    }
                }
                a:not(.btn) {
                    color: inherit;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .fix-width {
        width: 50px;
    }
    .null {
        opacity: 0.4;
    }
}
