// Body
$body-bg: #fafafa;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color: #00b0d9;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Card
$card-border-color: #e6e6e6;
$card-border-radius: 0px;

// Table
$table-border-color: #e0e0e0;
$table-color: #000000de;

// Input
$input-placeholder-color: #d0d0d0;
