// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~jquery-datetimepicker/jquery.datetimepicker.css';

// Apps
@import 'print';
@import 'table';

body {
    font-size: 14px;
    color: #1a1a1a;
    background: #f6f6f6;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #0000005c;
    .navbar-nav {
        .nav-link {
            color: #000;
        }
    }
}

.card-header-btn {
    margin-top: -0.45rem;
    margin-bottom: -0.5rem;
}

// Form
.link-collapse {
    float: right;
    display: inline-block;
    background: #d8d8d8;
    border-radius: 2px;
    padding: 1px 6px 0;
    cursor: pointer;
}
.btn {
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 11px 20px 10px;
    .spinner-grow {
        display: none;
    }
    &-load {
        .spinner-grow {
            display: inline-block;
        }
    }
    &-sm {
        padding: 6px 11px 7px;
    }
}
.card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: 1px solid #e0e0e0;
    border-top: 1px solid #dcdcdc;
    .card-header {
        background: transparent;
        border: none;
        .h3 {
            margin-top: 13px;
            font-size: 18px;
            margin-bottom: 12px;
        }
        .h5 {
            margin: 0;
        }
    }
}
.form-control {
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
    font-size: 20px;
    &:focus,
    &.focus {
        border-color: #a1cbef;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
    }
    &:disabled,
    &[readonly] {
        height: 46px;
    }
}
.nav-tabs {
    margin-bottom: -1px;
    z-index: 1;
    position: relative;
    border-color: #0000001f;
    .nav-link {
        border-radius: 0;
        color: #000;
        padding: 10px 15px;
        border-bottom-width: 2px;
        &.active {
            border-color: transparent;
            background: transparent;
            border-bottom-color: $color;
            color: $color;
        }
        &:hover {
            border-color: transparent;
            border-bottom-color: $color;
        }
    }
}
.clone-head-table-wrap {
    box-shadow: 0 1px 3px #00000040;
    .table {
        background-color: #f8f9fa !important;
    }
}
.badge {
    &-pink {
        background-color: #e712b4;
    }
}
