<template>
    <div>
        <div class="d-flex flex-wrap">
            <div class="mb-3 mr-2" v-for="product in products">
                <div class="card product-item" @click.prevent="modal.product = product">
                    <div class="card-body">
                        <h5 class="card-title" style="cursor: pointer;">
                            {{product.name}}
                            <span class="badge badge-primary">{{product.accept}} / {{product.complete}}</span>
                        </h5>
                    </div>
                    <div class="card-footer d-flex">
                        <a class="btn btn-success btn-sm" href="#">Принять</a>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="modal.product.id">
            <div class="modal fade show" style="display: block;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                {{modal.product ? modal.product.name : ''}}
                                <span class="badge badge-success">{{(modal.product.complete * 1000 - modal.product.accept * 1000) / 1000}}</span>
                            </h5>
                            <!-- <button type="button" class="close" @click="modal.product = false">
                                <span aria-hidden="true">&times;</span>
                            </button> -->
                            <button type="button" class="btn btn-danger" @click="modal.product = false">
                                Отмена
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" v-for="error in modal.errors">
                                <div v-for="text in error">{{text}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <table class="table table-bordered mb-3">
                                        <tbody>
                                        <tr v-for="(type, index) in types">
                                            <td>{{type.name}}</td>
                                            <td class="text-right">
                                                <input class="form-control text-center"
                                                       type="text"
                                                       readonly
                                                       style="width: 90px"
                                                       :ref="'acceptType' + index"
                                                       :id="'acceptType' + index"
                                                       :class="{'focus': edit.index === index}"
                                                       :value="type.quantity"
                                                       @focus="edit = type; edit.index = index">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-6">
                                    <input-keyboard-component @onOk="ok" zero="true" v-model="edit.quantity"></input-keyboard-component>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="alert alert-success" v-if="modal.product.accept > 0">Код отмены:<br>{{modal.product.code2}}</div>
                                </div>
                                <div class="col-6 text-right">
                                    <a class="btn btn-primary" href="#" @click.prevent="accept">Принять</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show" @click="modal.product = false"></div>
        </div>
    </div>
</template>

<script>
    require('howler');

    export default {
        props: ['shift_id', 'products'],
        data: () => ({
            types: [
                {
                    name: 'Принять',
                    type: 'accept',
                    quantity: 0
                },
                {
                    name: 'Брак',
                    type: 'reject1',
                    quantity: 0
                },
                {
                    name: 'Бракераж',
                    type: 'reject2',
                    quantity: 0
                }
            ],
            modal: {
                product: {},
                errors: {}
            },
            edit: {
                quantity: 0,
                index: 0
            },
            sound: {}
        }),
        mounted: function() {
            this.sound = new Howl({
                src: ['/audio/audio.mp3']
            });
        },
        methods: {
            ok: function() {
                if ((this.types.length - 1) > this.edit.index) {
                    $('#acceptType' + (this.edit.index + 1)).focus();
                } else {
                    $('#acceptType0').focus();
                }
            },
            accept: function() {
                axios.put('/shift-api/accept-product-' + this.shift_id, {
                    shift_product_id: this.modal.product.id,
                    product_id:       this.modal.product.product_id,
                    accept:           this.types[0].quantity,
                    reject1:          this.types[1].quantity,
                    reject2:          this.types[2].quantity
                }).then((json) => {
                    this.modal.product = false;

                    this.$parent.update();
                }).catch((error) => {
                    this.modal.errors = error.response.data.errors;
                });
            }
        },
        watch: {
            'modal.product': function (value) {
                Vue.nextTick(() => {
                    $(this.$refs.acceptType0).focus();

                    this.types.map((item) => {
                        item.quantity = 0;
                    });

                    this.modal.errors = {};
                });
            },
            'products': function (newValue, oldValue) {
                if (newValue && oldValue && newValue.length > 0 && newValue.length !== oldValue.length) {
                    this.sound.play();
                }
            }
        }
    }
</script>
