<template>
    <div class="d-flex">
        <div v-if="success" class="mr-4 alert alert-success">
            Соединение успешно установлено!
        </div>
        <div v-if ="error" class="mr-4 alert alert-danger">
            Ошибка запроса, проверьте введённые данные
        </div>
        <div>
            <div v-if="preload" class="row">
            <div class="text-muted mr-4 align-self-center">Пожалуйста подождите, идёт проверка соединения сервером StoreHouse5</div>
                <div class="mr-4 spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div v-if="!preload" class="btn-group" role="group">
                <a href="#" class="btn btn-primary" @click.prevent="checkConnect">Проверить соединение с сервером StoreHouse5</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            preload: false,
            success: false,
            error: false,
        }),
        methods: {
        checkConnect: function () {

            let data = {
                "ip": document.getElementById('ip').value,
                "port": document.getElementById('port').value,
                "username": document.getElementById('username').value,
                "password": document.getElementById('password').value
            }

            this.preload = true;
            this.success = false;
            this.error = false;

            axios.post('/sh5/check-connect', data).then((response) => {
                if (response.data == "OK") {
                    this.success = true;
                    this.preload = false;
                    document.getElementById("connect").value = "success";
                } else {
                    this.error = true;
                    this.preload = false;
                }
            })
            .catch(error => {
                this.error = true;
                this.preload = false;
            });
        }
        }
    }
</script>