<template>
    <div>
        <shift-products-component ref="ShiftProducts"
                                  :shift_id="$parent.shift_id"
                                  :place="$parent.place"
                                  :shops="$parent.shops"
                                  :shop_id="$parent.shop_id">
            <div v-for="(products, key) in products" :key="key">
                <div class="card mb-4" v-if="products.length > 0">
                    <div class="card-header">
                        <div class="h5">{{groups[key]}}</div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="w-25">Товар</th>
                            <th class="w-25">Выпуск</th>
                            <th class="w-25">Количество</th>
                            <th class="w-25">Сумма</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(product, index) in products" :key="index"
                            :style="{borderLeft: `3px solid ${product.color}`}">
                            <td>{{product.name}}</td>
                            <td>{{product.date_complete}}</td>
                            <td>{{product.quantity}}</td>
                            <td>
                                {{$root.formatPrice(product.price)}} ₽
                                <div class="float-right" v-if="$parent.place === 'kitchen'">
                                    <span class="btn btn-danger btn-sm" v-if="key === 'completed'">{{product.code1}}</span>
                                    <span class="btn btn-danger btn-sm" v-if="key === 'wronged'">{{product.code3}}</span>
                                    <a class="btn btn-primary btn-sm" href="#" v-if="key === 'completed'" @click.prevent="$refs.ShiftProducts.addToList(product)">Добавить</a>
                                    <a class="btn btn-danger" href="#" v-if="key === 'wronged'" @click.prevent="$refs.ShiftProducts.removeWrong(product)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </shift-products-component>
    </div>
</template>

<script>
    export default {
        props: ['products'],
        data: () => ({
            groups: {
                all: 'Выпущенные',
                completed: 'Не принятые',
                moved: 'На перемещении',
                wronged: 'Ложные'
            }
        })
    }
</script>
