<template>
    <datepicker :value="value" :name="name" :bootstrap-styling="true" :language="ru" :monday-first="true" :format="format"></datepicker>
</template>
<script>
    import Datepicker from 'vuejs-datepicker';
    import {ru} from 'vuejs-datepicker/dist/locale'

    export default {
        components: {
            Datepicker
        },
        props: ['value', 'name'],
        data () {
            return {
                ru: ru,
                format: 'yyyy-MM-dd'
            }
        }
    }
</script>
