<template>
    <div class="d-flex">
        <div v-if="checkStorage()" class="mr-4 alert alert-success">
            Корреспонденты успешно обновлены!
        </div>
        <div v-if ="error" class="mr-4 alert alert-danger">
            {{ errMessage }}
        </div>
        <div>
            <div v-if="preload" class="row">
            <div class="text-muted mr-4 align-self-center">Пожалуйста подождите, загрузка корреспондентов StoreHouse5</div>
                <div class="mr-4 spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div v-if="!preload" class="btn-group" role="group">
                <a href="#" class="btn btn-primary" @click.prevent="getCorrs">Загрузить корреспондентов</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            preload: false,
            success: false,
            error: false,
            errMessage: 'Ошибка запроса, попробуйте повторить позже.'
        }),
        methods: {
            checkStorage () {
                setInterval(function(){
                    localStorage.removeItem("corrs");
                }, 2000);
                return localStorage.corrs;
            },
            getCorrs: function () {

                const regex = /\d+/;
                const str = location.pathname;
                let setting_id = regex.exec(str)[0];

                this.preload = true;
                this.success = false;
                this.error = false;

                axios.post('/sh5/get-corrs', {
                        setting_id: setting_id
                    }).then((response) => {
                        this.preload = false;
                    if (response.data != "OK") {
                        this.error = true;
                        this.errMessage = response.data;
                    } else {
                        localStorage.corrs = this.success;
                        this.success = true;
                        location.reload();
                    }
                })
                .catch(error => {
                    this.errMessage = error.response.data.message
                    this.error = true;
                    this.preload = false;
                });
            }
        }
    }
</script>