<template>
    <div class="inputKeyboard">
        <numkeyboard ref="numkeyboard" v-model="num" ok-text="OK" @onOk="ok"></numkeyboard>
    </div>
</template>
<script>
    import numkeyboard from 'vue-numkeyboard';
    import 'vue-numkeyboard/style.css';

    Vue.use(numkeyboard);

    export default {
        inheritAttrs: false,
        props: {
            value: '',
            name: String,
            submit: String,
            elements: Array,
            zero: false
        },
        data () {
            return {
                num: '',
                element: null
            }
        },
        watch: {
            'num': function (val, old) {
                if (this.zero) {
                    if (val === '') {
                        val = '0';
                    }
                    if (typeof(old) === 'string' && old.indexOf('.') !== -1) {
                        //console.log(val);
                    }

                    if ((old === '0' || old === 0) && val !== '0.') {
                        val = parseInt(val);
                    }

                    this.num = val + '';
                }

                if (this.element) {
                    $(this.element).val(val).focus();
                }

                this.$emit('input', val);
            },
            'element': function (val) {
                this.num = $(val).val();
                $(val).focus();
            },
            'value': function (val) {
                this.num = val;
            }
        },
        mounted () {
            this.num = this.value;

            if (this.elements) {
                this.element = this.elements[0];

                $.each(this.elements, (key, element) => {
                    $(document).on('click', element, () => {
                        this.element = element;
                    });
                });
            }
        },
        methods: {
            ok: function () {
                if (this.elements) {
                    var index = this.elements.indexOf(this.element);

                    if (index === (this.elements.length - 1)) {
                        if (this.submit) {
                            $(this.submit).submit();
                        } else {
                            this.element = this.elements[0];
                        }
                    } else {
                        this.element = this.elements[index + 1];
                    }
                }

                this.$emit('onOk', this.num);
            }
        }
    }
</script>
<style lang="scss">
    .inputKeyboard .keyboard {
        visibility: visible;
        transform: translateZ(0);
        font-size: 16px;
        height: auto;
        line-height: 35px;
        position: static;
        bottom: auto;
        border: 1px solid #ddd;
        border-top: none;
        border-bottom: none;
        td {
            height: 50px;
            font-size: 18px;
        }
        .icon,
        td[data-code=K] {
            font-size: 16px;
        }
        td[data-code=F] {
            pointer-events: none;
            span {
                display: none;
            }
        }
        &-input {
            display: none;
        }
    }
</style>
