<template>
    <div>
        <table class="table" id="shift">
            <thead>
            <tr>
                <th>Товар</th>
                <th v-if="type === 'open'">Количество</th>
                <th>По факту</th>
            </tr>
            </thead>
            <tbody>
            <template v-if="products.filter(item => item.visible).length > 0">
                <tr v-for="(product, index) in products" :key="index" :style="{borderLeft: `3px solid ${product.color}`}" v-if="product.visible">
                    <td>{{product.name}}</td>
                    <td v-if="type === 'open'">{{product.quantity}}</td>
                    <td>
                        <input class="form-control text-center"
                               type="text"
                               readonly
                               :value="product.complete"
                               @focus="edit = product">
                    </td>
                </tr>
            </template>
            <template v-else>
                <tr>
                    <td colspan="3">Пусто</td>
                </tr>
            </template>
            </tbody>
        </table>
        <div v-if="edit.product_id > 0">
            <div class="modal fade show" style="display: block;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{edit.name}}</h5>
                            <!-- <button type="button" class="close" @click="edit = {}">
                                <span aria-hidden="true">&times;</span>
                            </button> -->
                            <button type="button" class="btn btn-danger" @click="edit = {}">
                                Отмена
                            </button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" id="quantity" readonly>
                            <input-keyboard-component :elements="['#quantity']" v-model="edit.complete" @onOk="edit = {}" zero="true"></input-keyboard-component>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show"></div>
        </div>
        <div class="card-header text-right">
            <button class="btn btn-primary" data-toggle="modal" @click="modal = true">Добавить товар</button>
            <button class="btn btn-success" @click.prevent="confirm">
                <span class="spinner-border spinner-border-sm d-none"></span>
                Подтвердить
            </button>
        </div>
        <div v-if="modal">
            <div class="modal fade show" style="display: block" data-backdrop="static" role="dialog">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Выбрать товары</h5>
                            <!-- <button type="button" class="close" data-dismiss="modal" @click="modal = false">
                                <span aria-hidden="true">&times;</span>
                            </button> -->
                            <button type="button" class="btn btn-danger" @click="modal = false">
                                Отмена
                            </button>
                        </div>
                        <div class="modal-body">
                            <products-component :shop_id="shop_id" :list.sync="list">
                                <div class="text-center mt-3" v-if="list.length">
                                    <a href="#" class="btn btn-primary" @click.prevent="add">
                                        Отправить
                                    </a>
                                </div>
                            </products-component>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show"></div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['shift_id'],
        data: () => ({
            shop_id: 0,
            type: '',
            products: [],
            list: [],
            modal: false,
            edit: {
                complete: 0
            }
        }),
        mounted() {
            axios.get('/inventory-api/get-' + this.shift_id).then((json) => {
                this.shop_id = json.data.shop_id;
                this.type = json.data.type;
                this.products = json.data.products;
            });
        },
        methods: {
            add: function () {
                this.list.forEach((product) => {
                    let index = this.products.findIndex(item => {
                        return product.product_id === item.product_id;
                    });

                    if (index === -1) {
                        this.products.push({
                            'product_id': product.product_id,
                            'name':       product.name,
                            'color':      '#fff',
                            'quantity':   0,
                            'complete':   parseFloat(product.quantity),
                            'visible':    true
                        });
                    } else {
                        // Если в нашем списке уже есть этот товар, то просто меняем значение
                        this.products[index].complete = parseFloat(product.quantity);
                        this.products[index].visible = true;
                    }
                });

                this.modal = false;
                this.list = [];
            },
            confirm: function () {
                var button = $(event.target);

                if (confirm('Выполнить?') && !button.hasClass('disabled')) {
                    button.addClass('disabled').find('span').removeClass('d-none');

                    axios.put('/inventory-api/add-' + this.shift_id, {
                        type: this.type,
                        products: this.products
                    }).then((json) => {
                        if (json.data.success) {
                            location.href = json.data.success;
                        }
                    });
                }
            }
        }
    }
</script>
