<template>
    <div>
        <template v-for="(items, index) in movements.movements">
            <div class="card mb-4" v-if="!($parent.place === 'kitchen' && index === 'in')">
                <div class="card-header">
                    <div class="h5">{{index === 'in' ? 'Перемещение к нам' : 'Перемещение от нас'}}</div>
                </div>
                <table class="table fixed">
                    <thead>
                    <tr>
                        <th>Магазин</th>
                        <th>Отправил</th>
                        <th>Принял</th>
                        <th>Товары</th>
                        <th>Код отмены</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-if="items.length > 0">
                        <tr v-for="(movement, index) in items" :key="index">
                            <td><a href="#" @click.prevent="selectMovement = movement">{{movement.shop}}</a></td>
                            <td>
                                {{movement.user}}
                                <div class="small">{{movement.created}}</div>
                            </td>
                            <td>
                                {{movement.accept}}
                                <div class="small" v-if="movement.accept">{{movement.updated}}</div>
                            </td>
                            <td>
                                <div class="badge" :class="{'badge-warning': movement.diff, 'badge-success': movement.accept}">
                                    {{movement.count}}
                                </div>
                            </td>
                            <td>{{movement.code}}</td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="5">Пусто</td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
        </template>

        <div class="card" v-if="movements.accepted">
            <div class="card-header">
                <div class="h5">Принятые товары</div>
            </div>
            <table class="table fixed">
                <thead>
                <tr>
                    <th>Товар</th>
                    <th>Количество</th>
                    <th>Принял</th>
                    <th>Сумма</th>
                    <th>Код отмены</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(product, index) in movements.accepted" :key="index"
                    :style="{borderLeft: `3px solid ${product.color}`}">
                    <td>{{product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.date_accept}}</td>
                    <td>{{$root.formatPrice(product.price)}} ₽</td>
                    <td>
                        <span v-if="$parent.place === 'shop'">{{product.code2}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div v-if="selectMovement.id">
            <div class="modal fade show" style="display: block" data-backdrop="static" role="dialog">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{selectMovement.shop}}</h5>
                            <button type="button" class="btn btn-danger" @click="selectMovement = []">
                                Отмена
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered table-sm" id="shift">
                                <thead>
                                <tr>
                                    <th>Товар</th>
                                    <th>Количество</th>
                                    <th>По факту</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(product, index) in selectMovement.products" :key="index" :class="{'bg-warning': product.diff}">
                                    <td>{{product.name}}</td>
                                    <td class="text-center">{{product.quantity}}</td>
                                    <td class="text-center">
                                        <input v-if="selectMovement.edit" class="form-control text-center"
                                            type="text"
                                            readonly
                                            :value="product.complete"
                                            @focus="edit = product; edit.max = product.quantity">
                                        <div v-else>{{product.complete}}</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-header text-right" v-if="selectMovement.edit">
                            <button class="btn btn-primary" @click.prevent="accept">Принять</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show"></div>

            <div v-if="edit.id > 0">
                <div class="modal fade show" style="display: block;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">
                                    {{edit.name}}
                                    <span class="badge badge-success">{{edit.quantity}}</span>
                                </h5>
                                <button type="button" class="btn btn-danger" @click="edit = {}">
                                    Отмена
                                </button>
                            </div>
                            <div class="modal-body">
                                <input class="form-control" id="quantity" readonly>
                                <input-keyboard-component :elements="['#quantity']" v-model="edit.complete" @onOk="edit.complete = Math.min(edit.max, edit.complete); edit = {}" zero="true"></input-keyboard-component>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop fade show"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['movements'],
        data: function () {
            return {
                name: 'Перемещение',
                selectMovement: {},
                edit: {
                    complete: 0
                }
            }
        },
        methods: {
            accept: function () {
                if (confirm('Принять перемещение?')) {
                    axios.put('/movement-api/accept-' + this.$parent.shift_id, {
                        movement: this.selectMovement,
                    }).then((json) => {
                        this.selectMovement = [];

                        this.$parent.update();
                    });
                }
            }
        }
    }
</script>
