<template>
    <div>
        <table class="table plan-table">
            <thead>
            <tr>
                <th>Товары</th>
                <th>Время</th>
                <th>Итого</th>
                <th>TOP</th>
                <th>NEW</th>
                <th class="fix-width text-center" v-for="(hour, key) in hours">{{key}}</th>
            </tr>
            <tr>
                <th>Кол-во</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="fix-width text-center" v-for="count in counts">{{count}}</th>
            </tr>
            <tr>
                <th>Итого, т.р.</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="fix-width text-center" v-for="total in totals">{{total}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="product in products" :style="{borderLeft: `3px solid ${product.color}`}">
                <td class="w-25">{{product.name}}</td>
                <td>{{product.time}}</td>
                <td>{{product.total}}</td>
                <td v-html><i class="fas fa-check" v-if="product.top"></i></td>
                <td v-html><i class="fas fa-check" v-if="product.new"></i></td>
                <td v-for="(quantity, hour) in product.hours"
                    class="fix-width pointer text-center"
                    :class="quantity > 0 ? 'bg-success text-white' : 'null'"
                    @click="edit.product_id = product.id; edit.name = product.name; edit.quantity = quantity; edit.hour = hour;"
                >{{quantity}}</td>
            </tr>
            </tbody>
        </table>
        <div v-if="edit.product_id > 0">
            <div class="modal fade show" style="display: block;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{edit.name}} &minus; {{edit.hour}}</h5>
                            <!-- <button type="button" class="close" @click="edit.product_id = 0">
                                <span aria-hidden="true">&times;</span>
                            </button> -->
                            <button type="button" class="btn btn-danger" @click="edit.product_id = 0">
                                Отмена
                            </button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" id="quantity" readonly>
                            <input-keyboard-component :elements="['#quantity']" v-model="edit.quantity" @onOk="ok" zero="true"></input-keyboard-component>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show"></div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.getData();
        },
        props: ['plan_id'],
        data: () => ({
            hours:  [],
            counts:  [],
            totals:  [],
            products: [],
            edit: {
                product_id: 0,
                name: '',
                count: 0,
                hour: 0
            }
        }),
        methods: {
            getData: function () {
                axios.get('/plan-api/get-' + this.plan_id).then((json) => {
                    this.hours = json.data.hours;
                    this.counts = json.data.counts;
                    this.totals = json.data.totals;
                    this.products = json.data.products;

                    this.edit.product_id = 0;
                });
            },
            ok: function() {
                axios.put('/plan/update-plan-products/' + this.plan_id, this.edit).then(() => {
                    this.getData();
                });
            }
        }
    }
</script>
<style>
    .plan-table thead tr:first-child th {
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 2;
    }
</style>
