<template>
    <div>
        <div>
            <div v-if="selectProduct.id">
                <div class="modal fade show" style="display: block;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{selectProduct.name}}</h5>
                                <!-- <button type="button" class="close" @click="selectProduct = {}">
                                    <span aria-hidden="true">&times;</span>
                                </button> -->
                                <button type="button" class="btn btn-danger" @click="selectProduct = {}">
                                    Отмена
                                </button>
                            </div>
                            <div class="modal-body">
                                <input class="form-control" id="count" readonly>
                                <input-keyboard-component :elements="['#count']" v-model="count" @onOk="ok" zero="true"></input-keyboard-component>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop fade show"></div>
            </div>
            <div class="row">
                <div class="col-3">
                    <ul class="list-group mb-3">
                        <li class="list-group-item" style="border-left: 3px solid #e0e0e0">
                            <div class="custom-control custom-radio">
                                <input name="category" type="radio" id="category" class="custom-control-input" v-model="filter.category" :value="''">
                                <label for="category" class="custom-control-label">Все категории</label>
                            </div>
                        </li>
                        <li class="list-group-item" v-for="(category, index) in this.categories" :key="index"
                            :style="{borderLeft: `3px solid ${category.color}`}">
                            <div class="custom-control custom-radio">
                                <input name="category" type="radio" :id="'category_' + category.id" v-model="filter.category" :value="category.id" class="custom-control-input">
                                <label :for="`category_${category.id}`" class="custom-control-label">{{category.name}}</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <input type="text" class="form-control" v-model="filter.product" placeholder="Поиск по товарам">
                        </div>
                    </div>
                    <div class="product-grid">
                        <div v-for="(product, index) in filterProducts" :key="index">
                            <a href="#" @click.prevent="selectProduct = product"
                            style="text-decoration: none; color: #1a1a1a; border: none;"
                            class="product-grid--item bg-light"
                            :class="{'bg-light': product.live}"
                            :style="{borderLeft: `3px solid
                            ${product.category_color}`}">
                                <div class="product-grid--item--title">{{product.name}}</div>
                                <div class="product-grid--item--title font-weight-bold text-right">{{product.price}} ₽</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-3" style="position: relative;">
                    <div style="position: sticky; top:0;">
                        <h5 v-if="types" class="modal-title">
                            {{ types[type_id] }}
                        </h5>
                        <h5 v-if="name" class="modal-title">
                            {{ name }}
                        </h5>
                        <hr>
                        <table class="table table-bordered table-sm">
                            <tbody>
                            <tr v-for="(product, index) in list" :key="index">
                                <td>{{product.name}}</td>
                                <td class="text-center ml-2 mr-2">{{product.quantity}}</td>
                                <td class="text-right">
                                    <a class="btn btn-danger" href="#" @click.prevent="$delete(list, index)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <slot></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            axios.get('/product/json?shop_id=' + this.shop_id).then((json) => {
                this.products = json.data.products;
                this.categories = json.data.categories;
            });
        },
        props: ['shop_id', 'list', 'type_id', 'types', 'name'],
        data: () => ({
            products: {},
            categories: {},
            selectProduct: {},
            count: 0,
            filter: {
                product: '',
                category: '',
            }
        }),
        methods: {
            ok: function () {
                if (this.count > 0) {
                    let index = this.list.findIndex(item => {
                        return this.selectProduct.id === item.product_id;
                    });

                    if (index === -1) {
                        this.list.push({
                            'name': this.selectProduct.name,
                            'product_id': this.selectProduct.id,
                            'quantity': parseFloat(this.count)
                        });
                    } else {
                        this.list[index].quantity = parseFloat(this.list[index].quantity) + parseFloat(this.count);
                    }

                    this.count = 0;
                    this.selectProduct = {};
                }
            }
        },
        computed: {
            filterProducts: function() {
                var products = this.products;

                if (this.filter.product) {
                    products = products.filter((item) =>
                        item.name.toLowerCase().indexOf(this.filter.product.toLowerCase()) > -1
                    );
                }

                if (this.filter.category) {
                    products = products.filter((item) =>
                        item.category === this.filter.category
                    );
                }

                return products;
            }
        }
    }
</script>
<style lang="scss" scoped>
    .product-grid {
        display: flex;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
        & > div {
            padding-right: 5px;
            padding-left: 5px;
            width: 25%;
            margin-bottom: 10px;
            @media (max-width: 1199px) {
                width: 33.33%;
            }
        }
        &--item {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-top-width: 5px;
            &--title {
                line-height: 1;
                margin-bottom: 15px;
            }
        }
    }
    @media (max-width: 1199px) {
        .modal-content {
            width: 70%;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }
</style>
