<template>
    <div class="d-flex">
        <div v-if="checkStorage()" class="mr-4 alert alert-success">
            Товары успешно отгружены!
        </div>
        <div v-if="nothing" class="mr-4 alert alert-success">
            Нет новых товаров для выгрузки.
        </div>
        <div v-if ="error" class="mr-4 alert alert-danger">
            {{ errMessage }}
        </div>
        <div>
            <div v-if="preload" class="row">
            <div class="text-muted mr-4 align-self-center">Пожалуйста подождите, выгрузка товаров в StoreHouse5<br>
                <p>Это может занять несколько минут.</p></div>
                <div class="mr-4 spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div v-if="!preload" class="btn-group" role="group">
                <a href="#" class="btn btn-primary" @click.prevent="pushProducts">Выгрузить в StoreHouse5</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            preload: false,
            success: false,
            error: false,
            nothing: false,
            errMessage: 'Ошибка!'
        }),
        methods: {
            checkStorage () {
                setInterval(function(){
                    localStorage.removeItem("products");
                }, 3000);
                return localStorage.products;
            },
            pushProducts: function () {

                const regex = /\d+/;
                const str = location.pathname;
                let import_id = regex.exec(str)[0];

                this.preload = true;
                this.success = false;
                this.error = false;
                this.nothing = false;

                axios.post('/sh5/post-products', {
                    import_id: import_id
                }).then((response) => {
                    this.preload = false;
                if (response.data == "OK") {
                    this.success = true;
                    localStorage.products = this.success;
                    location.reload();
                } else if (response.data == "NOTHING") {
                    this.nothing = true
                }
                })
                .catch(error => {        
                    this.errMessage = error.response.data.message == "Undefined offset: 0" 
                    ? 'Ошибка! Нет товаров, либо Вы не выбрали номенклатуру StoreShouse5' 
                    : error.response.data.message;
                    this.error = true;
                    this.preload = false;
                });
            }
        }
    }
</script>