<template>
    <div>
        <div class="card mb-4" v-for="(name, id) in rejects.types" :key="id">
            <div class="card-header">
                <div class="h5">{{name}}</div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th class="w-25">Пользователь</th>
                    <th class="w-25">Дата</th>
                    <th class="w-25">Место</th>
                    <th class="w-25">Код отмены</th>
                </tr>
                </thead>
                <tbody>
                <template v-if="rejects.rejects[id]">
                    <tr v-for="(reject, index) in rejects.rejects[id]" :key="index">
                        <td>
                            <a href="#" @click.prevent="selectReject = reject">{{reject.user}}</a>
                        </td>
                        <td>{{reject.time}}</td>
                        <td>{{reject.place}}</td>
                        <td>{{reject.code}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="font-weight-bold">{{$root.formatPrice(rejects.totals[id])}} ₽</td>
                    </tr>
                </template>
                <template v-else>
                    <tr>
                        <td colspan="4">Пусто</td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>

        <div v-if="selectReject.id">
            <div class="modal fade show" style="display: block" data-backdrop="static" role="dialog">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{selectReject.name}} &minus; {{selectReject.time}}</h5>
                            <!-- <button type="button" class="close" data-dismiss="modal" @click="selectReject = []">
                                <span aria-hidden="true">&times;</span>
                            </button> -->
                            <button type="button" class="btn btn-danger" @click="selectReject = []">
                                Отмена
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <table class="table table-bordered table-sm" id="shift">
                                        <thead>
                                        <tr>
                                            <th>Товар</th>
                                            <th>Количество</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(product, index) in selectReject.products" :key="index">
                                            <td>{{product.name}}</td>
                                            <td class="text-center">{{product.quantity}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show"></div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['rejects'],
        data: () => ({
            selectReject: {}
        })
    }
</script>
