<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col">
                                {{ data.name }}
                            </div>
                            <div class="col text-right">
                                <span class="badge badge-primary">{{ count }}</span>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                            <tr v-for="item in data.orders">
                                <td>{{ item.product_id }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="input-group">
                            <input type="text" v-model="product_id" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-primary" @click="this.insert">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.update();
            setInterval(() => {
                this.update();
            }, 5000);
        },
        data: () => ({
            count: 0,
            data: {},
            product_id: ''
        }),
        methods: {
            update: function () {
                axios.get('/test/data').then((json) => {
                    this.data = json.data;
                    this.count++;
                });
            },
            insert: function () {
                axios.post('/test/insert', {
                    product_id: this.product_id
                }).then((json) => {
                    console.log(json);
                }).catch(function (error) {
                    console.log(error);
                }).then(function (json) {
                    console.log(json);
                });
            }
        }
    }
</script>
