<template>
    <div>
        <div v-if="modal">
            <div class="modal fade show" style="display: block;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{modal.product.name}}</h5>
                            <!-- <button type="button" class="close" @click="modal = false">
                                <span aria-hidden="true">&times;</span>
                            </button> -->
                            <button type="button" class="btn btn-danger" @click="modal = false">
                                Отмена
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="alert alert-danger" v-if="modal.error">{{modal.error}}</div>
                                    <table class="table table-bordered mb-3" id="shift">
                                        <thead>
                                        <tr>
                                            <th>План</th>
                                            <th>По плану</th>
                                            <th>По факту</th>
                                            <th>Остаток</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{modal.plan.name}}</td>
                                            <td class="text-center">{{modal.quantity}}</td>
                                            <td class="text-center">
                                                <input v-if="modal.status === 1"
                                                       id="modal-complete"
                                                       class="form-control text-center"
                                                       type="text"
                                                       readonly
                                                       v-model="modal.complete"
                                                       v-focus>
                                                <div v-else>{{modal.complete}}</div>
                                            </td>
                                            <td class="text-center">{{modal.total}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="row" v-if="place === 'kitchen'">
                                        <div class="col-md-6">
                                            <a href="#" class="btn btn-danger" v-if="modal.status === 1" @click.prevent="cancel(modal)">Остановить</a>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <a href="#" class="btn btn-success" v-if="modal.status === 0" @click.prevent="begin(modal)">Начать</a>
                                            <a href="#" class="btn btn-success" v-if="modal.status === 1" @click.prevent="end(modal)">Выпустить</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="h4 text-center">Статус</div>
                                    <ul class="progressbar">
                                        <li :class="modal.status >= 0 ? 'active' : ''">План</li>
                                        <li :class="modal.status >= 1 ? 'active' : ''">Начало</li>
                                        <li :class="modal.status >= 2 ? 'active' : ''">Выпуск</li>
                                    </ul>
                                    <input-keyboard-component @onOk="ok" zero="true" v-model="modal.complete" v-if="modal.status === 1"></input-keyboard-component>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show" @click="modal = false"></div>
        </div>
        <div v-if="add.hour !== false">
            <div class="modal fade show" style="display: block;">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Выбрать товары
                            </h5>
                            <button type="button" class="btn btn-danger" @click="add.hour = false, add.list = []">
                                Отмена
                            </button>
                        </div>
                        <div class="modal-body">
                            <products-component :shop_id="shop_id" :list.sync="add.list" :name="name">
                                <div class="text-center mt-3" v-if="add.list.length">
                                    <a href="#" class="btn btn-primary mt-3" @click.prevent="addProducts">Добавить</a>
                                </div>
                            </products-component>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show"></div>
        </div>
        <ul class="nav nav-tabs fixed-top">
            <li class="dropdown">
                <a class="nav-link" id="dropdownMenu" data-toggle="dropdown">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item disabled" href="#">Пользователь: <span class="badge badge-success">{{user}}</span></a>
                    <a class="dropdown-item disabled" href="#">Магазин: <span class="badge badge-success">{{shop}}</span></a>
                    <a class="dropdown-item disabled" href="#">Смена: <span class="badge badge-success">{{shift_id}}</span></a>
                    <a class="dropdown-item" :href="'/shift/shop-' + shop_id">Управление сменой</a>
                    <!-- <a class="dropdown-item" href="#" onclick="$('#logout').submit()">Выход</a> -->
                </div>
                <form action="/logout" method="POST" class="d-none" id="logout">
                    <input type="hidden" name="_token" :value="csrf">
                </form>
            </li>
            <li class="nav-item" v-if="place === 'shop'">
                <a class="nav-link" data-toggle="tab" href="#tab1">
                    <i class="fa fa-list-ol"></i>
                    <span>
                        <span>Прием</span>
                        <span class="nav-total">{{$root.formatPrice(accepts.total)}} ₽</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab2">
                    <i class="fa fa-clock"></i>
                    <span>
                        <span>План</span>
                        <span class="nav-total">{{$root.formatPrice(shift.total)}} ₽</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab3">
                    <i class="fa fa-check-circle"></i>
                    <span>
                        <span>Выпуск</span>
                        <span class="nav-total">{{$root.formatPrice(products.total)}} ₽</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab4">
                    <i class="fa fa-university"></i>
                    <span>
                        <span>Витрина</span>
                        <span class="nav-total">{{$root.formatPrice(stocks.total)}} ₽</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab5">
                    <i class="fa fa-unlink"></i>
                    <span>
                        <span>Списание</span>
                        <span class="nav-total">{{$root.formatPrice(rejects.total)}} ₽</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab6">
                    <i class="fa fa-exchange-alt"></i>
                    <span>
                        <span>Перемещения</span>
                        <span class="nav-total">{{$root.formatPrice(movements.total)}} ₽</span>
                    </span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="tab1">
                <accept-component :shift_id="shift_id" :products="accepts.products"></accept-component>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="card">
                    <table class="table table-striped">
                        <tbody>
                        <tr v-for="(data, hour) in shift.hours" :key="hour" v-if="data.available || Object.keys(data.products).length > 0">
                            <template>
                                <td style="width: 1%;"><div class="h1">{{hour}}:<span class="small">00</span></div></td>
                                <td>
                                    <div class="d-flex flex-wrap" v-if="data.products">
                                        <div class="mb-3 mr-2" v-for="(product, index) in data.products" :key="index">
                                            <div class="card product-item" :class="productClass(product)"
                                            :style="{borderLeft: `5px solid ${product.product.color}`}">
                                                <div class="card-body">
                                                    <h5 class="card-title" @click="modal = product" style="cursor: pointer">{{product.product.name}}</h5>
                                                </div>
                                                <div class="card-footer d-flex justify-content-between align-items-center">
                                                    <div v-if="place === 'kitchen'">
                                                        <a href="#" class="btn btn-success btn-sm" style="padding:0.25rem 0.5rem" v-if="product.status === 0" @click.prevent="begin(product)">
                                                            Начать
                                                        </a>
                                                        <a href="#" class="btn btn-success btn-sm" style="padding:0.25rem 0.5rem" v-if="product.status === 1" @click.prevent="end(product, true)">
                                                            Выпусить
                                                        </a>
                                                    </div>
                                                    <div></div>
                                                    <div class="h5 mb-0">
                                                        <div v-if="product.diff > 0">{{(product.complete * 1000 - product.diff * 1000) / 1000}} / {{product.complete}}</div>
                                                        <div v-else-if="product.status === 3">{{product.complete}}</div>
                                                        <div v-else>{{product.complete > 0 ? product.complete : product.quantity}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3" v-if="data.current && place === 'kitchen'">
                                            <div class="card product-item product-item--add" style="max-width: 10rem;" @click="add.hour = hour">
                                                <div class="card-body text-center"><i class="fa fa-plus"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </template>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <complete-product-component :products="products.products"></complete-product-component>
            </div>
            <div class="tab-pane" id="tab4">
                <div class="card">
                    <stock-component :shift_shop_id="shop_id" :stock_shop_id.sync="stocks.shop_id" :shops="shops" :stocks="stocks"></stock-component>
                </div>
            </div>
            <div class="tab-pane" id="tab5">
                <reject-component :rejects="rejects"></reject-component>
            </div>
            <div class="tab-pane" id="tab6">
                <movement-component :movements="movements"></movement-component>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            axios.get('/shop/json?stock').then((json) => {
                this.shops = json.data.shops;
            });

            this.update();

            setInterval(() => {
                this.update();
            }, 10000);
        },
        props: ['shift_id'],
        data: () => ({
            accepts: {
                total: 0
            },
            shift: {
                total: 0
            },
            products: {
                total: 0
            },
            stocks: {
                total: 0,
                shop_id: 0
            },
            rejects: {
                total: 0
            },
            movements: {
                total: 0
            },

            shop: '',
            shop_id: 0,
            shops: [],
            user: '',
            place: '',
            name: 'Дополнительный выпуск',
            total: {
                reject: 0
            },
            modal: '',
            add: {
                hour: false,
                list: []
            },
            interval: true,
            csrf: ''
        }),
        methods: {
            update: function () {
                if (this.interval) {
                    axios.get('/shift-api/get-' + this.shift_id + '?shop_id=' + this.stocks.shop_id).then((json) => {
                        this.shop = json.data.shop;
                        this.shop_id = json.data.shop_id;
                        this.user = json.data.user;
                        this.place = json.data.place;
                        this.csrf = json.data.csrf;

                        this.accepts = json.data.accepts;
                        this.shift = json.data.shift;
                        this.products = json.data.products;
                        this.stocks = json.data.stocks;
                        this.rejects = json.data.rejects;
                        this.movements = json.data.movements;
                    }).catch((json) => {
                        //location.reload();
                    });
                }
            },
            ok: function() {
                axios.put('/shift-api/set-quantity-' + this.shift_id, {
                    id: this.modal.id,
                    complete: this.modal.complete
                }).then((json) => {
                    if (json.data.error) {
                        this.modal.error = json.data.error;
                    } else {
                        this.modal = false;
                    }
                });
            },
            begin: function (product) {
                this.status(product,1);
            },
            cancel: function (product) {
                this.status(product, 0);
            },
            end: function (product, plan = false) {
                this.status(product,2, plan);
            },
            status: function (product, status, plan = false) {
                axios.put('/shift-api/set-status-' + this.shift_id, {
                    id: product.id,
                    status: status,
                    complete: plan ? parseFloat(product.complete ? product.complete : product.quantity) : parseFloat(this.modal.complete),
                    plan: plan
                }).then((json) => {
                    if (this.modal) {
                        if (json.data.code) {
                            this.modal.code = json.data.code;
                        }

                        if (json.data.error) {
                            this.modal.error = json.data.error;
                        } else if (status === 2) {
                            this.modal = false;
                        } else {
                            this.modal.status = status;
                        }
                    } else if (json.data.error) {
                        alert(json.data.error);
                    }

                    this.update();
                });
            },
            productClass: function (product) {
                return {
                    'bg-light': product.status === 0 && product.available === true,
                    'bg-primary': product.status === 1,
                    'bg-success': (product.status > 1),
                    'bg-dark': (product.status === 2 && product.diff),
                    'bg-danger': product.status === 0 && product.available === false,
                    'text-white': product.status > 0 || product.available === false,
                    'product-item--added': product.plan.id === 0,
                    'product-item--diff': product.status > 2 && product.diff,
                }
            },
            addProducts: function () {
                var button = $(event.target);

                button.addClass('btn-load');

                axios.put('/shift-api/add-product-' + this.shift_id, {
                    products: this.add.list,
                    hour: this.add.hour
                }).then((json) => {
                    button.removeClass('btn-load').addClass('btn-success');
                    this.update();

                    this.add.hour = false;
                    this.add.list = [];
                });
            }
        },
        watch: {
            'modal': function (val) {
                if (val) {
                    this.interval = false;

                    Vue.nextTick(() => {
                        $('#modal-complete').focus();
                    });
                } else {
                    this.interval = true;
                    this.update();
                }
            },
            'place': function (val) {
                Vue.nextTick(() => {
                    $('.nav-tabs .nav-item:eq(0) .nav-link').click();
                });
            }
        }
    }
</script>
<style lang="scss">
    .nav {
        &.nav-tabs {
            position: fixed;
            background: #fff;
            box-shadow: 0 1px 5px #00000014;
            .nav-item a {
                display: flex;
                align-items: center;
                line-height: 1.2;
                i {
                    margin-right: 10px;
                    color: #00b0d9;
                }
                span span {
                    display: block;
                }
                .nav-total {
                    font-size: 12px;
                    color: #a9a9a9;
                }
            }
            .dropdown a {
                cursor: pointer;
                padding: 10px 30px 8px;
                i {
                    font-size: 29px;
                }
            }
        }
    }
    .progressbar {
        counter-reset: step;
        overflow: hidden;
        margin: 20px 0;
        padding: 0;
        li {
            list-style-type: none;
            text-transform: uppercase;
            font-size: 9px;
            width: 33.33%;
            float: left;
            position: relative;
            text-align: center;
            &:before {
                content: counter(step);
                counter-increment: step;
                width: 50px;
                line-height: 50px;
                display: block;
                font-size: 20px;
                color: #000;
                background: #d4d4d4;
                border-radius: 50%;
                margin: 0 auto 5px auto;
                text-align: center;
                position: relative;
                z-index: 1;
            }
            &:after {
                content: '';
                width: 100%;
                height: 2px;
                background: #d4d4d4;
                position: absolute;
                left: -50%;
                top: 24px;
                z-index: 0;
            }
            &:first-child:after {
                content: none;
            }
            &.active:before,
            &.active:after{
                background: #2fc724;
                color: #fff;
            }
        }
    }
    #shift {
        .form-control {
            width: 90px;
            display: inline-block;
        }
    }
    @media (max-width: 1199px) {
        .modal-dialog {
            max-width: 100% !important;
        }
    }
    .product-item {
        height: 100%;
        min-height: 120px;
        width: 10rem;
        border-width: 1px;
        .card {
            &-body {
                padding: 10px;
                h5 {
                    font-size: 14px;
                    font-weight: normal;
                }
            }
            &-footer {
                padding: 10px;
                min-height: 50px;
                border: none;
            }
        }
        &--add {
            border: 2px dashed #adadad;
            cursor: pointer;
            &:hover {
                border-color: #000;
            }
            i {
                font-size: 18px;
            }
            .card-body {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &--added {
            border: 2px dashed #adadad;
            &.bg-success,
            &.bg-danger,
            &.bg-primary {
                border-color: #fff;
            }
        }
        &--diff {
            .card-footer {
                background-color: #343a40 !important;
            }
        }
    }
    .table tbody tr:hover td {
        background: none;
    }
</style>
