<template>
    <div>
        <slot></slot>
        <div class="card" v-if="list.length > 0">
            <div class="card-header">
                <div class="h5">Список добавленных товаров</div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th class="w-50">Товар</th>
                    <th class="w-25">Количество</th>
                    <th class="w-25"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(product, index) in list" :key="index">
                    <td>{{product.name}}</td>
                    <td>
                        <input class="form-control text-center"
                               style="width: 90px;"
                               type="text"
                               readonly
                               :value="product.quantity"
                               @focus="edit = product">
                    </td>
                    <td class="text-right">
                        <a class="btn btn-danger" href="#" @click.prevent="$delete(list, index)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="card-header mt-3">
                <div class="alert alert-danger" v-if="error">{{error}}</div>
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn btn-danger" @click.prevent="addReject(1)">Брак</a>
                        <a href="#" class="btn btn-danger" @click.prevent="addReject(2)">Бракераж</a>
                        <a href="#" class="btn btn-danger" @click.prevent="addReject(3)" v-if="place === 'shop'">Списание</a>
                        <a href="#" class="btn btn-danger" @click.prevent="addWrong()" v-if="place === 'kitchen'">Ложный</a>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Перемещение в:</span>
                            </div>
                            <select v-model="to_shop_id" class="form-control">
                                <option value="0">выбрать магазин</option>
                                <option v-for="(shop, index) in shops.filter(item => item.id !== shop_id)" :key="index" :value="shop.id">{{shop.name}}</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-primary" :class="{disabled: !parseInt(to_shop_id)}" @click.prevent="addMovement">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="edit.product_id > 0">
                <div class="modal fade show" style="display: block;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">
                                    {{edit.name}}
                                    <span class="badge badge-success">{{edit.max}}</span>
                                </h5>
                                <button type="button" class="btn btn-danger" @click="edit = {}">
                                    Отмена
                                </button>
                            </div>
                            <div class="modal-body">
                                <input class="form-control" id="quantity" readonly>
                                <input-keyboard-component :elements="['#quantity']" v-model="edit.quantity" @onOk="edit.quantity = Math.min(edit.max, edit.quantity); edit = {};" zero="true"></input-keyboard-component>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop fade show"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['shift_id', 'place', 'shops', 'shop_id'],
        data: () => ({
            list: [],
            edit: {
                quantity: 0,
                index: 0
            },
            to_shop_id: 0,
            error: ''
        }),
        methods: {
            addToList: function (product) {
                let index = this.list.findIndex(item => {
                    if (product.id) {
                        return product.id === item.id;
                    } else {
                        return product.product_id === item.product_id;
                    }
                });

                if (index === -1) {
                    let newProduct = Object.assign({
                        max: product.quantity
                    }, product);

                    newProduct.quantity = 0;

                    this.list.push(newProduct);
                }
            },
            addReject: function (type) {
                if (!this.error) {
                    axios.put('/reject-api/add-' + this.shift_id, {
                        type: type,
                        products: this.list
                    }).then(() => {
                        this.list = [];

                        this.$parent.$parent.update();
                    });
                }
            },
            addWrong: function () {
                if (!this.error) {
                    axios.put('/shift-api/add-wrong-product-' + this.shift_id, {
                        products: this.list
                    }).then(() => {
                        this.list = [];

                        this.$parent.$parent.update();
                    });
                }
            },
            removeWrong: function (product) {
                axios.put('/shift-api/remove-wrong-product-' + this.shift_id, {
                    product: product
                }).then(() => {
                    this.$parent.$parent.update();
                });
            },
            addMovement: function () {
                if (this.to_shop_id === 0) {
                    alert('Укажите магазин, куда Вы хотите сделать перемещение');
                } else {
                    if (!this.error) {
                        axios.put('/movement-api/add-' + this.shift_id, {
                            shop_id: this.to_shop_id,
                            products: this.list
                        }).then(() => {
                            this.list = [];

                            this.$parent.$parent.update();
                        });
                    }
                }
            }
        },
        watch: {
            'list': {
                handler: function (after, before) {
                    this.error = '';

                    this.list.map((item) => {
                        if (item.quantity === 0) {
                            this.error = 'Есть товары с нулевым количеством';
                        }
                    });
                },
                deep: true
            }
        }
    }
</script>
