<template>
    <div>
        <div class="bg-light p-3">
            <select v-model="shop_id" class="form-control">
                <option v-for="shop in shops" :value="shop.id">{{shop.name}}</option>
            </select>
        </div>
        <shift-products-component ref="ShiftProducts"
                                  :shift_id="$parent.shift_id"
                                  :place="$parent.place"
                                  :shops="$parent.shops"
                                  :shop_id="$parent.shop_id">
            <table class="table">
                <thead>
                <tr>
                    <th>Товар</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                </tr>
                </thead>
                <tbody>
                <template v-if="stocks.products">
                    <tr v-for="product in stocks.products">
                        <td :style="{borderLeft: `3px solid ${product.color}`}">{{product.name}}</td>
                        <td>{{product.quantity}}</td>
                        <td>
                            {{$root.formatPrice(product.price * product.quantity)}} ₽
                            <a class="btn btn-primary btn-sm float-right"
                               href="#" v-if="$parent.place === 'shop' && product.quantity > 0 && shift_shop_id == stock_shop_id"
                               @click.prevent="$refs.ShiftProducts.addToList(product)">Добавить</a>
                        </td>
                    </tr>
                </template>
                <tr v-else>
                    <td colspan="3">Пусто</td>
                </tr>
                </tbody>
            </table>
        </shift-products-component>
    </div>
</template>

<script>
    export default {
        props: {
            shift_shop_id: 0,
            stock_shop_id: 0,
            shops: {},
            stocks: {
                products: []
            }
        },
        data: () => ({
            shop_id: 0,
        }),
        watch: {
            'shift_shop_id': function (newValue, oldValue) {
                if (oldValue === 0) {
                    this.shop_id = this.shift_shop_id;
                }
            },
            'shop_id': function () {
                this.$emit('update:stock_shop_id', this.shop_id);
                this.$parent.update();
            }
        }
    }
</script>
